[
  {
  "title":"Home",
  "url":"Home"
  },
  {
  "title":"Calendar",
  "url":"Calendar",
  "description":"AJAX day/week calendar."
  },
  {
  "title":"Month",
  "url":"Month",
  "description":"AJAX monthly calendar."
  },
  {
  "title":"Scheduler",
  "url":"Scheduler",
  "description":"A Time Line for Multiple Resources."
  }
]